@import url("https://use.typekit.net/phn1xtz.css");
html, body {
    padding: 0;
    margin: 0 auto;
    font-family: korolev, sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    color:black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color:#53a68a;
}
button, .button {
    padding:10px;
    border-radius: 10px;
    background: #65ffcc;
    margin-top: 20px;
    display: inline-block;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

}
main {
    margin: 0 auto;
    text-align:center;
}

.flex {
    display: flex;

    &.spaceAround {
        justify-content: space-around;
    }
    &.center {
        justify-content: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.col-mobile {
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}

.pad-bottom {
    padding-bottom: 120px;
}

